* {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

ul,
ol {
    list-style: none;
}

.wrap1 {
    width: 100%;
    min-width: 1000px;
    background: url(../images/top-bg.jpg) no-repeat center 71px;
    /* background-size: contain; */
}

.tophead-nei {
    width: 960px;
    margin: 0 auto;
    height: 71px;
}

.tophead-nei ul {
    margin-left: 30px;
}

.tophead-nei li {
    float: left;
    height: 30px;
    line-height: 30px;
    text-align: center;
    display: block;
    width: 104px;
    margin-top: 25px;
}

.tophead-nei li a {
    color: #575757;
    height: 30px;
    line-height: 30px;
    text-align: center;
    display: block;
    width: 104px;
    text-align: center;
}

.tophead-nei li:nth-child(4) {
    width: 203px;
    height: 71px;
    margin: 0 20px;
}


.main {
    width: 1000px;
    margin: 0 auto;
    height: 100%;
    color: #000;
    min-height: 600px;
}

#about,
#three-about,
.about-nav {
    width: 960px;
    height: 200px;
    margin: 0 auto;
    margin-top: 100px;
}

#about {
    background: url(../images/ul-shadow.png) no-repeat center bottom;
    width: 1058px;
}

#about,
#three-about,
.about-nav {
    width: 960px;
    height: 200px;
    margin: 0 auto;
    margin-top: 100px;
}

#about .huanjing h3 {
    background: url(../images/huanjing-ico.png);
}

#about .lianxi h3 {
    background: url(../images/lianxi-ico.png);
}

#about .guanyu h3 {
    background: url(../images/jianjie-ico.png) no-repeat center top;
}

#about .huanjing {
    background: #f67379;
}

#about .guanyu,
#about .huanjing,
#about .lianxi {
    width: 300px;
    height: 200px;
    border: 2px solid #cbdaed;
}

#about li {
    display: block;
    margin-right: 20px;
}

.fl {
    float: left;
}

#about .lianxi {
    background: #ed9951;
}



#about li:last-child {
    margin-right: 0;
}

#about .guanyu {
    background: #136eb5;
}

#about .guanyu h3,
#about .huanjing h3,
#about .lianxi h3 {
    width: 83px;
    height: 63px;
    margin: 0 auto;
    margin-top: 50px;
}

#about .guanyu p,
#about .huanjing p,
#about .lianxi p {
    width: 200px;
    height: 40px;
    line-height: 40px;
    font-size: 25px;
    text-align: center;
    display: block;
    margin: 0 auto;
    color: #f8f8f8;
}

.three-about-nei,
#job-about .job-about-nei {
    width: 900px;
    color: #343738;
    margin: 0 auto;
}

.three-about-nei h3 {
    color: #343738;
    border-bottom: 1px solid #cdcdcd;
    font-size: 25px;
    line-height: 60px;
    margin-bottom: 20px;
}

.three-about-nei p,
#job-about .job-about-nei p {
    line-height: 35px;
    text-indent: 2em;
}

.three-about-nei p img {
    margin: 20px 0;
}

.lxwm-k {
    height: 600px;
    width: 900px;
    margin: 0 auto;
}

.three-about-nei .hezuo-k {
    width: 300px;
    height: 200px;
}

.three-about-nei p,
#job-about .job-about-nei p {
    line-height: 35px;
    text-indent: 2em;
}

.blod {
    font-weight: bold;
}

.add-k {
    width: 970px;
}

.three-nei-bot {
    background: url(../images/bot-bg.png) no-repeat center bottom;
    width: 970px;
    height: 147px;
}

/* footer */
#footer {
    background: #f2f2f2;
    width: 100%;
    min-width: 1000px;
    height: 100px;
    font-size: .75em;
    padding: 30px 0 10px 0;
    border-top: 2px solid #afcee6;
}

.foot-nei {
    width: 900px;
    margin: 0 auto;
    height: 100px;
}

.b-logo img {
    width: 203px;
    height: 71px;
}

.foot-info {
    width: 680px;
    color: #9c5a5e;
    margin-left: 15px;
    line-height: 26px;
    text-align: left;
}

.foot-info p a,
.foot-info a {
    color: #5d5d5d;
    display: inline-block;
}