* {
    padding: 0;
    margin: 0;
}

.wrap {
    width: 100%;
    min-width: 1000px;

}

/* 头部导航 */
.tophead-nei {
    width: 960px;
    margin: 0 auto;
    height: 71px;
}

.tophead-nei ul {
    margin-left: 30px;
}



.tophead-nei li {
    float: left;
    height: 30px;
    line-height: 30px;
    text-align: center;
    display: block;
    width: 104px;
    margin-top: 25px;
}

.tophead-nei li a {
    color: #575757;
    height: 30px;
    line-height: 30px;
    text-align: center;
    display: block;
    width: 104px;
    text-align: center;
    text-decoration: none;
}

.tophead-nei li:nth-child(4) {
    width: 203px;
    height: 71px;
    margin: 0 20px;
}


.tophead-nei li:hover,
.tophead-nei .on {
    background: #146eb5;
    border-radius: 20px;
    color: #fff;
    cursor: pointer;
}

.tophead-nei li a:hover {
    color: #fff;
    text-decoration: none;
}

.tophead-nei li:nth-child(4):hover {
    background: none;
    border: none;
    border-radius: 0;
}

/* 背景 */

.big-light .swiper1 {
    height: 768px;
    overflow: hidden;
}


.swiper-container {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

/* 热门游戏 */
.main {
    width: 1000px;
    margin: 0 auto;
    height: 100%;
    color: #000;
    min-height: 600px;
}

.index-one-k {
    width: 960px;
    height: 700px;
    margin: 0 auto;
    position: absolute;
    top: 750px;
    z-index: 100;
}

.three-game-k {
    height: 200px;
    width: 960px;
    overflow: hidden;
    margin-bottom: 30px;
    position: relative;
}

.top-game01,
.top-game02,
.top-game03,
.top-game01-hover,
.top-game02-hover,
.top-game03-hover {
    position: absolute;
    top: 0;
    left: 0;
}

.top-game02,
.top-game02-hover {
    top: 0;
    left: 320px;
}

.top-game03,
.top-game03-hover {
    top: 0;
    left: 640px;
}

a:hover {

    text-decoration: underline;
}

/* 新闻 */
.index-news-left {
    height: 365px;
}

.fl {
    float: left;
}

.light-s {
    width: 641px;
    height: 284px;
}

.swiper-container {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    -o-transition-property: transform;
    transition-property: transform;
    transition-property: transform,-webkit-transform;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}
body, div, form, p, img, ul, li, ol, dl, dt, dd, hr, h1, h2, h3, span, i {
    margin: 0;
    padding: 0;
    border: 0;
}

.main {
    width: 1000px;
    margin: 0 auto;
    height: 100%;
    color: #000;
    min-height: 600px;
  
}