@charset "utf-8";
/*css by pnasy*/
*{margin:0;padding:0;}
body,div,form,p,img,ul,li,ol,dl,dt,dd,hr,h1,h2,h3,span,i{margin:0; padding:0; border:0;}
ul,ol{list-style: none;}
input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit}
input,textarea,select{*font-size:100%}
.fix{width:100%;min-width:1000px;_width:expression((document.documentElement.clientWidth||document.body.clientWidth)<1000?"1000px":"");overflow:hidden;}
.clearfix:after{content:'\20';display:block;height:0;clear:both}
.clearfix{*zoom:1}
.clearfloat {clear:both; height:0; font-size:0; line-height:0;}
/*.clearfloat:after{display:block;clear:both;content:"";visibility:hidden;height:0} 
.clearfloat{zoom:1} */
.hidden{display:none}
.blod { font-weight:bold;}
table{border-collapse:collapse;border-spacing:0}
audio,canvas,video { display: inline-block;*display: inline;*zoom: 1;}
fieldset,img{border:0}
body{font-family:"microsoft yahei", Arial, Helvetica, sans-serif; font-size:100%;}
.fl{ float:left;}
.fr{ float:right;}
a{ text-decoration:none;}
a:hover { /*transition: all 0.2s linear 0s;*/ text-decoration:underline;}
a:focus{outline:none;}
/*default*/
/* 顶部广告位 */
.tophead{ width:100%; height:110px; background:#fff;}
.tophead-nei{width:960px;margin: 0 auto;height:71px;}
.tophead-nei ul {margin-left:30px;}
.tophead-nei li{float:left; height:30px;line-height:30px;text-align:center;display:block;width:104px;margin-top:25px;}
.tophead-nei li:hover,.tophead-nei .on{background:#146eb5; border-radius:20px;color:#fff;cursor:pointer;}
.tophead-nei li:nth-child(4){width:203px;height:71px;margin:0 20px;}
.tophead-nei li:nth-child(4):hover{background:none;border:none;border-radius:0;}
.tophead-nei li:last-child{width:120px;}
.tophead-nei .on a{color:#fff;}
.tophead-nei li a {color:#575757;height:30px;line-height:30px;text-align:center;display:block;width:104px;text-align:center;}
.tophead-nei li:last-child a{width:120px;text-align:center;}
/*footer*/
#footer { background:#f2f2f2; width:100%; min-width:1000px;height:100px;font-size:.75em; padding:30px 0 10px 0;border-top:2px solid #afcee6;}
.foot-nei { width:900px; margin:0 auto;height:100px;}
.foot-info { width:680px;color:#9c5a5e;margin-left:15px;line-height:26px;text-align:left;}
.b-logo img {width:203px;height:71px;}
.foot-info p a, .foot-info a {color: #5d5d5d;display: inline-block;}
.foot-info a:hover {color: #0094d9;}
/* 内容 */
.wrap,.wrap1,.wrap2{width:100%;min-width:1000px;_width:expression((document.documentElement.clientWidth<1000||document.body.clientWidth<1000)?"1000px":"100%");}
.main{width:1000px;margin:0 auto;height:100%; color:#000;;min-height:600px;_height:expression_r(this.scrollHeight < 600 ? "600px" : "auto"); display:box;}

/*小幻灯*/
.swiper-container {width: 100%;height: 100%;}
.swiper-slide {text-align: center;font-size: 18px;background: #fff;
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }
    .swiper-slide {
      overflow: hidden;
    }
/*hotgame*/
.index-one-k{width:960px;height:700px;margin:0 auto;position:absolute;top:750px;z-index:100;}
.three-game-k{height:200px;width:960px;overflow:hidden;margin-bottom:30px;position:relative;}
.top-game01,.top-game02,.top-game03,.top-game01-hover,.top-game02-hover,.top-game03-hover{position:absolute;top:0;left:0;}
.top-game02,.top-game02-hover{top:0;left:320px;}
.top-game03,.top-game03-hover{top:0;left:640px;}
.top-game01-hover,.top-game02-hover,.top-game03-hover{display:none;}

/*背景幻灯*/
.big-light .swiper-button-next,.big-light .swiper-button-prev{background: url(../images/top-left-arr.png) no-repeat center top;width:46px;height:46px;}
.big-light .swiper-button-next{background: url(../images/top-right-arr.png);}
.big-light .swiper-pagination-bullet {width:24px;height:24px;background:#33383e;margin-right:10px;}
.big-light .swiper-pagination-bullet-active{background:#891d13;}
.big-light .swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {bottom: 130px;left: 0;width: 100%;}
.big-light .swiper1{height:768px;overflow:hidden;}
/*幻灯新闻*/
.light-s{width:641px;height:284px;}
.light-s .swiper-pagination{background:rgba(0,0,0,0.5);height:30px;bottom:0;text-align:right;right:20px;}
.light-s .swiper-container-horizontal > .swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {bottom: 5px;}
.light-s .swiper-pagination-bullet{width:10px;height:10px;}
.index-news-left{height:365px;}
.index-news{background:#136eb5;width:318px;height:364px;color:#fffafb;}
.index-news h3{margin:10px 0 0 20px;border-bottom:1px solid #99bedb;width:280px;}
.index-news h3 em{display:inline-block;float:right;font-size:14px;font-style:normal;}
.index-news h3 em a{color:#fff;}
.index-news h3 em a:hover{text-decoration:none;}
.index-news ul{margin:20px 0 0 20px;}
.index-news li{width:280px;border-bottom:1px dashed #99bedb;height:45px;margin-bottom:10px;}
.index-news li span{float:right;}
.index-news li a{color:#fffafb;height:45px;width:230px;overflow:hidden;float:left;}
.index-news li:last-child{border-bottom:none;}
.light-s-bot-k{color:#fffaff;}
.light-s-qiye{background:#f67379;width:320.5px;height:80px;}
.light-s-qiye-nei,.light-s-job-nei{margin:10px 0 10px 10px;width:290px;height:60px;overflow:hidden;}
.light-s-job{background:#ed9951;width:320.5px;height:80px;}
.light-s-qiye h3,.light-s-job h3{border-bottom:1px dashed #fffaff;margin-bottom:10px;}
.light-s-qiye-nei a,.light-s-job-nei a{margin-right:10px;}
.light-s-job h3 span{float:right;font-size:14px;}
/*about*/
.wrap1{background: url(../images/top-bg.jpg) no-repeat center 71px;/*background-size:contain;*/}
#about,#three-about,.about-nav{width:960px;height:200px;margin:0 auto;margin-top:100px;}
#about .guanyu,#about .huanjing,#about .lianxi{width:300px;height:200px;border:2px solid #cbdaed;}
#about .guanyu{background:#136eb5;}
#about .huanjing{background:#f67379;}
#about .lianxi{background:#ed9951;}
#about .guanyu h3,#about .huanjing h3,#about .lianxi h3{background: url(../images/jianjie-ico.png) no-repeat center top;width:83px;height:63px;margin:0 auto;margin-top:50px;}
#about .huanjing h3{background: url(../images/huanjing-ico.png);}
#about .lianxi h3{background: url(../images/lianxi-ico.png);}
#about .guanyu p,#about .huanjing p,#about .lianxi p{width:200px;height:40px;line-height:40px;font-size:25px;text-align:center;display:block;margin:0 auto;color:#f8f8f8;}
#about li{display:block;margin-right:20px;}
#about li:last-child{margin-right:0;}
#about li:hover{cursor:pointer;}
#about li a:hover{text-decoration:none;}
#about{background:url(../images/ul-shadow.png) no-repeat center bottom;width:1058px;}
.three-about-nei,#job-about .job-about-nei{ width:900px;color:#343738;margin:0 auto;}
.three-about-nei p,#job-about .job-about-nei p{line-height:35px;text-indent:2em;}
.three-about-nei p img{margin:20px 0;}
.three-about-nei h3{color:#343738;border-bottom:1px solid #cdcdcd;font-size:25px;line-height:60px;margin-bottom:20px;}
.three-about-nei .hezuo-k{width:300px;height:200px;}
.three-nei-bot{background: url(../images/bot-bg.png) no-repeat center bottom;width:970px;height:147px;}
.add-k{width:970px;}
.lxwm-k{height:600px;width:900px;margin:0 auto;}
.hezuo-k em{display:inline-block;width:5px;height:15px;background:rgba(213,63,13,0.8);margin:5px 10px 0 0;}
/*新闻*/
.news-tit-big{height:100px;margin-top:80px;}
.news-tit-big h2{color:#f8f8f8;font-size:30px;font-weight:normal;width:120px;line-height:60px;height:60px;margin-left:20px;}
.news-block{width:240px;height:240px;border:1px solid #cdcdcd;background:rgba(242,242,242,0.8);padding:20px;overflow:hidden;margin-right:10px;margin-bottom:20px;}
.news-block:nth-child(3n){margin-right:0;}
.news-block p{font-size:12px;color:#626262;text-indent:2em;line-height:23px;}
.news-block h3,.news-block h4{color:#242424;font-weight:normal;}
.news-list-nei-k,.job-list-nei-k{width:900px;margin:0 auto;}
.news-block h3{height:25px;overflow:hidden;font-size:18px;}
.news-block h4{font-size:13px;}
.news-block:hover{background:rgba(255,255,255,0.8);}
.news-neirong-k,.job-neirong-k,.game-neirong-k{border:1px solid #cdcdcd;background:rgba(242,242,242,0.6);min-height:600px;height:auto;height:100%;margin-bottom:50px;padding:30px;}
.news-neirong-tit h2,.news-neirong-tit h3{color:#242424;font-weight:normal;font-size:25px;margin-bottom:20px;}
.news-neirong-tit h3{font-size:14px;color:#626262;background: url(../images/time-icon.png) no-repeat left top;padding-left:20px;}
.news-neirong p{color:#626262;font-size:14px;text-indent:2em;line-height:25px;}
.news-neirong p img{margin:20px 0;max-width:800px;overflow:hidden;}
/*招聘*/
.wrap2{background:url(../images/job-top.jpg) no-repeat center 72px;}
.job-neirong-k{margin-top:360px;}
#job{width:838px;height:50px;}
#job li{border:1px solid #666;padding:5px;cursor:pointer;margin-right:10px;}
#job .on{background-color:#000;color:#fff;}
#job-about .job-about-nei{width:830px;margin-top:30px;}
#job-about .job-about-nei h3,.game-neirong-k h3{border-left:10px solid #343738;padding-left:20px;margin-top:30px;}
#job-about .job-about-nei h4{text-indent:2em;margin:20px 0 10px 0;}
#job-about .job-about-nei h4 a{display:block;width:120px;height:40px;line-height:40px;background:#c9242b;color:#fff;font-weight:normal;margin-left:35px;}
#job-about .job-about-nei h4 a:hover {color:#fff; text-decoration:none;}
/*热门游戏*/
.game-neirong-k h3{color:#343738;margin:0 0 20px 0;}
.game-neirong-k{padding:20px;}
.game-list {width:160px;margin-left:30px;}
.game-list h4{margin-bottom:10px;color:#343738;}
.game-list li{line-height:30px;}
.game-list li a{color:#666;}
.game-list li a:hover{color:#000;text-decoration:none;}
.game-list .icon-hot,.game-list .icon-new{background: url(../images/game-hot-icon.png) no-repeat center top;width: 11px;height:11px;display:inline-block;margin:0 0 0 5px;}
.game-list .icon-new{background: url(../images/game-new-icon.png);}

/*a-a:hvoer*/

.light-s-bot-k a{color:#fffaff;}
.tophead-nei li a:hover {color:#fff; text-decoration:none;}
