* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #000;
    line-height: 24px;
    font: 14px Helvetica Neue, Helvetica, PingFang SC, \5FAE\8F6F\96C5\9ED1, Tahoma, Arial, sans-serif;
}

.wrap {
    height: 4643px;
    width: 100%;
    min-width: 1200px;
}

/* 第一屏 */
.wrap1 {
    width: 100%;
    height: 857px;
    background: url(../天空之门-开启360°全景魔幻世界_files/index-) no-repeat center top;
}

.wrap1 #bg-video {
    position: relative;
    width: 100%px;
    height: 860px;
    overflow: hidden;
}

.wrap1 #bg-video .video-cover {
    background: url(../天空之门-开启360°全景魔幻世界_files/bg_movie_dot.png) repeat;
    position: absolute;
    z-index: 900;
    width: 1920px;
    left: 50%;
    margin-left: -960px;
    height: 900px;
}

#bg-video video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1920px;
    transform: translate(-50%, -50%);
    z-index: 899;
}

.main {
    width: 1200px;
    margin: 0 auto;
    height: 100%;
    height: auto;
}

.index-logo {
    position: absolute;
    width: 224px;
    height: 91px;
    top: 50px;
    z-index: 901;
}

a {
    color: #333;
    text-decoration: none;
    outline: none;
}

.round-video {
    width: 113px;
    height: 113px;
    position: absolute;
    cursor: pointer;
    left: 50%;
    margin-left: -56.5px;
    top: 675px;
    z-index: 902;
    opacity: .6;
}

.round-video-k {
    width: 113px;
    height: 113px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 902;
    background-position: -564px -283px;
    /* animation: rotating 9.2s linear infinite; */

}

.round-video-a {
    width: 37px;
    height: 57px;
    position: absolute;
    z-index: 901;
    top: 30px;
    left: 45px;
    background-position: -722px -282px;
}

.sprite {
    background: url('../天空之门-开启360°全景魔幻世界_files/sprite.png') no-repeat;
}

.wrap1 .main .slogan {
    visibility: visible;
    position: absolute;
    width: 732px;
    height: 88px;
    top: 560px;
    z-index: 901;
    left: 50%;
    margin-left: -366px;
}

.layui-inline,
img {
    display: inline-block;
    vertical-align: middle;
}

.bot-bg {
    width: 900px;
    height: 100px;
    position: absolute;
    left: 50%;
    margin-left: -450px;
    top: 690px;
    z-index: 901;
}

.down-anzhuo {
    width: 318px;
    height: 82px;
    position: absolute;
    top: 0px;
    left: 30px;
    width: 318px;
    height: 82px;
    z-index: 901;
    background-position: 0 0;
}

.down-ios {
    width: 318px;
    height: 82px;
    position: absolute;
    top: 0px;
    right: 30px;
    width: 318px;
    height: 82px;
    z-index: 901;
    background-position: 0 -86px;
}



/* 第二屏 */
.wrap2 {
    width: 100%;
    height: 692px;
    background: url(../天空之门-开启360°全景魔幻世界_files/wrap-news.jpg) no-repeat center top;
}

.xxk-bg {
    width: 400px;
    height: 400px;
    margin-left: 30px;
    margin-top: 30px;
}

.fl {
    float: left;
}